body{
    font-family: sans-serif;
}
.eqa{
    background-image: linear-gradient(35deg, rgb(43, 255, 0), rgb(107, 255, 100));
    width: 50%;
    height: 20%;
    margin-right: 5%;
    margin-left: 5%;
}
.eqb{
    background-image: linear-gradient(35deg, blue, rgb(62, 100, 255));
    width: 50%;
    height: 20%;
    margin-right: 5%;
    margin-left: 5%;
}
.container{
    display: flex;
}
.placar{
    background-color: rgb(212, 210, 210);
    padding: 5%;
    width: 20%;
    display: flex;
    margin-right: 5%;
    margin-left: 5%;
    
}
#pointsa{
  text-align: center;

}
#pointsb{
    text-align: center;
}
#pontos{
    display: flex;
    margin: auto;
}
#maist1{
    padding: 5%;
}
#menost1{
    padding: 5%;
}
#maist2{
    padding: 5%;
}
#menost2{
    padding: 5%;
}